.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main #info {
    position: absolute;
    width: 100%;
    font-size: 14px;
}

.main #score {
    margin-left: 10px;
}

.main #status {
    float: right;
    margin-right: 10px;
}

.main #game {
    position: absolute;
    background-color: gainsboro;
    border: 1px black solid;
    top: 10px;
    left: 10px;
}

.main #paddle {
    position: absolute;
    cursor: pointer;
    width: 1px;
    height: 1px;
    background-color: coral;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main #ball {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 1px;
    background-color: darkolivegreen;
}

.msg-ok { color: green; }
.msg-err { color: red; }

.main #controls{
    position: absolute;
    z-index: 5;
    top: 40px;
    width: 200px;
    margin-left: calc((100% - 216px)/2);
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    /*display: none;*/
}
.main #controls h3{
    color: white;
    background-color: cornflowerblue;
    padding: 10px 5px;
    margin-top: 0px;
}
.main #controls button, #controls select{
    border: 1px black solid;
    margin: 5px;
    padding: 5px;
    min-width: 100px;
    font-size: medium;
    cursor: pointer;
}
.main #controls fieldset{
    text-align: left;
    width: 70%;
    margin: 10px auto;
    line-height: 1.5em;
}
.main #controls input[type='checkbox'] {
    float: right;
    cursor: pointer;
}

.main #gear{
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

.main #game .brick {
    position: absolute;
    border: 1px black solid;
}

.main #mainstatus {
    position: absolute;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    z-index: 4;
    left: 0px;
    width: 100%;
    top: 40%;
    /*display: none;*/
}